.background {
    -fx-background-color: #121212;
}

.textfield {
    -fx-background-color: #1f1717;
    -fx-text-inner-color: #EEDBBF;
}

.gridLabel {
    -fx-text-fill: #EEDBBF;
}

.gridLabelTitle {
    -fx-text-fill: white;
}

.gridPane {
    -fx-background-color: #1f1717;
    -fx-border-color: black;
}

.gridPaneTitle {
    -fx-background-color: #1f1717;
    -fx-border-color: black;
}

.radio-button .radio {
    -fx-background-color: #ab3130;
}

.radio-button:selected .radio {
    -fx-background-color: #a84140;
}

.radio-button:selected .radio .dot {
    -fx-background-color: white;
    -fx-background-insets: 0;
}

.textarea {
    -fx-background-color: #1f1717;
    -fx-text-fill: #EEDBBF;
}

.textarea .content {
    -fx-background-color: #1f1717;
    -fx-background-radius: 0;
}
